{% extends 'partials/base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row bg-light my-5 mx-auto rounded-lg py-2" style="width:460px;">
    <div class="mx-auto">
        <h1 class="text-center">Login Here</h1>
        <hr class="my-4">
        <div class="text-center text-danger font-weight-bold ">{{ error }}</div>
        <div class="mx-auto mt-2" style="width: 320px;">
            <form action="" class="mx-5" method="POST">
                {% csrf_token %}
                <label for="username">User Name: </label>
                <input type="text" name="username" required>
                <label for="password">Password: </label>
                <input type="password" name="password" required >
                <button type="submit" class="btn btn-primary mt-3">Login</button>
                <br>
                <div class="text-center my-2">
                    <span>No account? </span><a class="text-dark font-weight-bold" href="{% url 'registration' %}">Create.</a>
                </div>
            </form>
</div>
{% endblock %}