{% extends 'partials/base.html' %}

{% block title %}
<title>Graph Dashboard</title>
{% endblock %}

{% block content %}
<div class="row mt-5 pt-3">
    <div class="col-md-4">
        <div class="border p-3">
            <h4>Add Data</h4>
            <form action="" method="POST">
                {% csrf_token %}
            </form>
            <hr>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <canvas id="myChart" width="400" height="280"></canvas>
        </div>
          
        <script>
        const ctx = document.getElementById('myChart');
        
        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: [
                {% for data in data %}
                '{{ data.month}}',
                {% endfor %}
            ],
            datasets: [{
                label: '# Employee Attendance Per Month',
                data: [
                {% for data in data %}
                {{data.attendace}},
                {% endfor %}
                ],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
        </script>
    </div>
</div>
{% endblock %}